mixin solutions()
  section.inner-section#solutions
    .platform-header
      h2.section-header
        span CUSTOMIZED INFRASTRUCTURE
        |  SOLUTIONS
      p.section-caption Traverse can help with your earth-scale planning challenges. We provide customized simulation solutions specific to your industry.

    .inner-container.cf
      .solutions.u-mobile-hidden
        .solutions__item
          +b.solutions-card
            +e.img
              img(src="assets/images/solution-1.jpg", alt="")
            +e.header
              | EARTH SCALE FEASIBILITY
            +e.content
              | The world is truely large but no number of square kilometers is too big a number for Traverse. If your problem is "I would like to plan/build X in region Y, but exactly where?", we can provide customized solutions with your specific industrial requirements in mind.

        .solutions__item
          +b.solutions-card
            +e.img
              img(src="assets/images/solution-2.jpg", alt="")
            +e.header
              | EARTH SCALE ANALYTICS
            +e.content
              | Traverse can help provide highly customized, time based macroscale insights occurring in your industry, straight to your inbox. Whether you are interested in commodities, energy or retail activity, if we can see it from above, we can count it and crunch it for you.

      .solutions.u-mobile-visible.bx-slider
        .solutions__item
          +b.solutions-card
            +e.img
              img(src="assets/images/solution-1.jpg", alt="")
            +e.header
              | EARTH SCALE FEASIBILITY
            +e.content
              | The world is truely large but no number of square kilometers is too big a number for Traverse. If your problem is "I would like to plan/build X in region Y, but exactly where?", we can provide customized solutions with your specific industrial requirements in mind.

        .solutions__item
          +b.solutions-card
            +e.img
              img(src="assets/images/solution-2.jpg", alt="")
            +e.header
              | EARTH SCALE ANALYTICS
            +e.content
              | Traverse can help you track and monitor macro-scale activity occurring in your industry through remote sensing and satellite data. We can provide highly processed and customized time based insights straight to your inbox.
