mixin solutions()
  section.inner-section#solutions
    .platform-header
      h2.section-header CUSTOMIZED INFRASTRUCTURE SOLUTIONS
      p.section-caption Small decriptive text facts about something that can be used in calculating, reasoning, or planning
    
    .inner-container.cf
      .solutions__item
        +b.solutions-card
          +e.img
            img(src="assets/images/solution-1.jpg", alt="")
          +e.header
            | EARTH SCALE FEASIBILITY
          +e.content
            | Foru lines of text small Descriptive Text is more like 4 lines of text and not 1 line Foru lines of text small Descriptive Text is more like 4 lines of text and not 1 line Text is more like 4 lines of text and not 1 line Foru lines of text small Descriptive Text
            
        +b.solutions-card
          +e.img
            img(src="assets/images/solution-2.jpg", alt="")
          +e.header
            | EARTH SCALE ANALYTICS
          +e.content
            | Foru lines of text small Descriptive Text is more like 4 lines of text and not 1 line Foru lines of text small Descriptive Text is more like 4 lines of text and not 1 line Text is more like 4 lines of text and not 1 line Foru lines of text small Descriptive Text
            
