mixin wind()
  +b('section').hero#wind
    +e.wind-bg
    +e.gradient
      img(src="assets/images/hero--wind.jpg", alt="")
    +e.content
      h1.inner-hero-title WIND
      p Small decriptive text facts about something that can be used in calculating, reasoning, or planning
      
      a.btn.btn--ghost(href="#") TAKE PART IN BETA
      small Coming soon
