mixin footer()
  +b.footer.flex
    a.footer__logo(href="/")
      img(src="assets/images/logo.png", alt="")
    ul.footer__links
      li
        a.footer-link(href="#") help center
      li
        a.footer-link(href="#") contacts
