.platform
  &__item
    @include span-columns(4 of 12)
    text-align: center

    @media screen and (max-width: 940px)
      width: 100%
      float: none

    &:not(:last-child)
      @media screen and (max-width: 940px)
        margin-bottom: 83px

  &__features
    @include span-columns(8 of 12)
    text-align: center

    @media screen and (max-width: 940px)
      width: 100%
      float: none
      margin: 0 auto

    .feature
      @include span-columns(6 of 12)
      padding-top: 46px
      margin-bottom: 83px

      @media screen and (max-width: 940px)
        width: 100%
        float: none

.platform-header
  margin-bottom: 55px

.platform-card-container
  padding-right: 16px
  padding-top: 16px

  @media screen and (max-width: 940px)
    // display: none
    max-width: 370px
    margin-left: auto
    margin-right: auto

.platform-card
  border: 1px solid #979797
  box-shadow: 8px -8px 0 rgba(96, 95, 95, 0.19), 16px -16px 0 rgba(213, 213, 213, 0.7)

  &__title
    position: absolute
    bottom: 42px
    width: 100%
    font-family: $din-pro-medium
    font-size: 25px
    text-align: center
    letter-spacing: 1.28px
    color: #ffffff
    z-index: 2

    date
      margin-top: 6px
      display: block
      font-size: 16px

  &__img
    position: relative
    padding-top: 100%
    overflow: hidden

    img
      width: 100%
      position: absolute
      top: 0
      left: 0
      z-index: 1

  &__content
    padding: 0 19px 20px

  &__text
    margin-bottom: 24px
    font-size: 13px

  &__footer
    height: 14px
    text-align: right

    img
      max-height: 100%
      width: auto

.feature
  width: 50%
  float: left
  text-align: center

  @media screen and (max-width: 940px)
    width: 100%
    float: none

  &:not(:last-child)
    margin-bottom: 83px

  &__title
    margin: 19px 0 11px
    font-family: $din-pro-medium
    text-transform: uppercase

  &__text
    padding: 0 69px
    font-size: 13px
    line-height: 22px

    @media screen and (max-width: 940px)
      max-width: 317px
      margin: 0 auto

.section-hero-img
  text-align: center
  margin-bottom: 46px

  img
    width: calc(100% - 40px)
    max-width: 64vw
    height: auto
    // height: auto
    // max-width: 90%
    box-shadow: 0px 2px 17px 0px rgba(0,0,0,0.20)


.platform2-features.u-mobile-hidden
  font-family: monospace
  letter-spacing: -.65em
  margin-left: -1em
  margin-right: -1em
  text-align: center
  display: block

  .feature
    width: 30%
    padding: 0 10px
    font-family: $din-pro-regular
    letter-spacing: normal
    display: inline-block
    padding-left: 1em
    padding-right: 1em
    position: relative
    float: none
    text-align: center
    vertical-align: top

    @media screen and (max-width: 940px)
      width: 50%

    &__content
      padding: 0 20px

    &__text
      padding: 0


.platform2-features.u-mobile-visible

  .feature
    width: 100%
    display: block

  .bx-wrapper
    display: none !important

  @media screen and (max-width: 600px)
    display: block

.bx-wrapper .bx-viewport
  box-shadow: none
  border: none

.bx-wrapper .bx-pager.bx-default-pager a
  margin: 0 6px
  width: 27px
  height: 6px
  background: #D8D8D8
  border-radius: 0

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active
  background: $blue

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto
  bottom: -100px

.bx-wrapper .bx-viewport
  background: transparent
