mixin platform()
  section.inner-content
    h2.section-header Platform
    p.section-caption Small decriptive text facts about something that can be used in calculating, reasoning, or planning
    
    .inner-container.cf
      .platform__item
        | platform
      .platform__item
        | platform
      .platform__item
        | platform
