.hero--contact
  color: #3B3B41
  min-height: 40vh
  text-align: center

  .btn--header-search
    @media screen and (max-width: 940px)
      right: auto
      left: 50%
      transform: translateX(-50%)

  .platform-header
    margin-bottom: 100px

  .header__email
    margin: 45px auto 0
    width: $getStarted-width-contact
    height: $getStarted-height-contact

    @media screen and (max-width: 410px)
      width: 100%

    input
      width: $getStarted-width-contact
      height: $getStarted-height-contact

    button
      width: $getStarted-button-width-contact
      height: $getStarted-height-contact

  @media screen and (max-width: 600px)
    height: auto
    padding: 60px 0 0

  .hero__content
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    flex: 1

    @media screen and (max-width: 600px)
      margin-bottom: 60px

  hr
    border-color: #00A0DF
  p
    color: #1D1D1D
    margin-bottom: 40px

.contacts-footer
  background: #FFFFFF
  text-align: left

  @media screen and (max-width: 1000px)
    padding: 51px 0 45px

  @media screen and (max-width: 560px)
    display: none

  &__left
    display: block
    float: left
    width: 40%

    @media screen and (max-width: 700px)
      width: 100%

    .footer-menu:first-child
      margin-right: 7vw

      @media screen and (max-width: 940px)
        margin-right: 5vw

      @media screen and (max-width: 815px)
        margin-right: 3vw

      @media screen and (max-width: 740px)
        margin-right: 1vw

      @media screen and (max-width: 700px)
        margin-right: 0
        width: 30%

  &__right
    float: left
    width: 60%

    @media screen and (max-width: 700px)
      width: 100%
      margin-top: 40px

    .footer-menu--normal
      width: 30%

  &__bottom
    margin-top: 60px
    margin-bottom: 40px

    // @media screen and (max-width: 1000px)
    //   padding-right: 88px

.footer-menu
  float: left
  display: block
  margin: 0
  padding: 0
  list-style: none
  line-height: 28px
  color: #0077d8

  &--blog
    width: 70%


  &__title
    $font-family: $din-pro-medium
    font-size: rem(14px)
    text-transform: uppercase

  &__link
    color: #0077d8
    text-decoration: none
    font-size: rem(14px)

    @media screen and (max-width: 650px)
      width: 60%

.footer-blog-link
  display: inline-block
  font-size: 14px
  text-decoration: none
  color: #0077d8

.footer-menu-blog__title
  font-family: $din-pro-medium
  font-size: rem(24px)
  color: #0077d8
  text-transform: uppercase

.footer-bottom-menu
  // margin-right: 40px
  line-height: 20px
  li
    display: inline-block

    &:not(:last-child)
      margin-right: 24px

.footer-bottom-menu + .footer-bottom-menu
  float: right

.footer-bottom-link
  display: inline-block
  height: 20px
  line-height: 20px
  font-size: 14px
  color: #0077d8
  text-decoration: none

  use
    fill: rgba(0, 119, 216, 0.58)
