mixin contact()
  +b('section').hero.hero--contact#contact
    +e.content
      h1.inner-hero-title GET IN TOUCH
      p We can Help Answer Your Questions
      
      a.btn.btn--ghost.u-color-black(href="#") CONTACT US
    
    +b.contacts-footer
      
