mixin hydro()
  +b('section').hero#hydro
    +e.hydro-bg
    +e.content
      h1.inner-hero-title HYDRO
      p Small decriptive text facts about something that can be used in calculating, reasoning, or planning

      a.btn.btn--ghost.js-show-modal(href="#" data-modal="request-demo") REQUEST DEMO
      a.btn.btn--hydro.js-show-modal(href="#" data-modal="hydro-modal") MORE INFO

  +b.modal#hydro-modal
    include hydro-modal-desktop
    include hydro-modal-mobile
