mixin hydro()
  +b('section').hero#hydro
    +e.hydro-bg
    +e.content
      h1.inner-hero-title HYDRO
      p Small decriptive text facts about something that can be used in calculating, reasoning, or planning
      
      a.btn.btn--ghost(href="#") ARRANGE A DEMO
      a.btn.btn--white(href="#") MORE INFO
