#hydro
  height: 60vh

  @media screen and (max-width: 940px)
    height: 100vh

  @media screen and (max-height: 850px)
    height: auto
    padding: 60px 0

.hero__hydro-bg
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-image: url('../images/hero--hydro.jpg')
  background-position: center center
  background-repeat: no-repeat
  background-size: cover

.hero__gradient
  position: absolute
  left: 0
  bottom: 0
  width: 100%
  height: 15%
  background: #ffffff

  img
    display: none

.modal
  position: fixed
  top: 62px
  left: 0
  width: 100%
  height: calc(100% - 62px)
  background: #ffffff
  text-align: center
  transform: translateY(-20px)
  transition: all 0.3s ease-in-out
  opacity: 0
  visibility: hidden
  overflow-y: auto
  z-index: 11

  &--visible
    transform: translateY(0)
    opacity: 1
    visibility: visible

  &__close
    position: absolute
    top: 32px
    right: 82px

  &__slide
    padding-bottom: 20px

  &__header
    padding: 57px 20px 0
    font-size: 22px
    color: #626262
    text-align: center

    p
      max-width: 630px
      margin: 42px auto 0

  .inner-hero-title
    color: #585858

    &:after
      background: #626262

  &__content
    position: relative
    padding: 96px 20px 0

  ul
    max-width: 550px
    list-style: none
    padding: 0
    margin: 0 auto
    text-align: left
    color: #626262

    li
      margin-bottom: 42px
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      align-items: flex-start

      p
        margin: 0
        flex: 1
        font-size: rem(24px)

        @media screen and (max-width: 940px)
          font-size: rem(18px)

    &:not(.flex)

      img
        width: 31px
        height: auto
        // display: inline-block
        // vertical-align: middle
        margin-right: 20px

  .flex
    width: 100%
    max-width: 1600px
    padding: 0 20px
    justify-content: space-between

    li
      display: block
      position: relative
      width: calc((100% - 160px) / 5)

      img
        margin: 0
        transition: all 0.3s ease-in-out

  // &__footer
  //   margin-top: 64px

.modal-enlarge
  position: relative
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.18)
  transform: scale(2)
  transition: all 0.3s ease-in-out
  z-index: 11

.modal--with-overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.5)

.bx-wrapper
  margin: 0 auto

.bx-wrapper .bx-pager
  position: relative
  z-index: 2

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto
  bottom: 0
