mixin hydro()
  +b('section').hero#hydro
    +e.hydro-bg
    +e.content
      h1.inner-hero-title HYDRO
      p Small decriptive text facts about something that can be used in calculating, reasoning, or planning

      a.btn.btn--ghost(href="#") ARRANGE A DEMO
      a.btn.btn--hydro.js-show-modal(href="#" data-modal="hydro-modal") MORE INFO

  +b.modal#hydro-modal
    a.modal__close.js-close-modal(href="#")
      svg(width="25" height="25")
        use(xlink:href="#icon-close")

    +e.header
      h1.inner-hero-title HYDRO
      p Which Potential Hydropower Sites in Eastern Sumatera have Minimal E&S Impact and Achieve 50% IRR?

    +e.content
      .bx-slider
        +e.slide
          ul
            li
              img(src="assets/images/modal-1.png", alt="")
              p hydroDesk helps project developers loop through every plausible project configuration in a given river system to rank and find optimal projects.

            li
              img(src="assets/images/modal-2.png", alt="")
              p Our Digital Elevation Model analytics automatically finds river slopes, excavation volumes and inundation areas behind dams.

        +e.slide
          ul
            li
              img(src="assets/images/modal-3.png", alt="")
              p hydroDesk comes complete with hundreds of public hydrological datasets. Upload proprietary data and use our tools to calibrate station statistics.


            li
              img(src="assets/images/modal-4.png", alt="")
              p Integrate your sub-surface investigation results by creating a geotechnical map on the interface. hydroDesk will take the associated costs and risks into account in its simulation runs.

        +e.slide
          ul
            li
              img(src="assets/images/modal-5.png", alt="")
              p Our deep-learning algorithms automagically detect forests and communities from satellite imagery. Manage land acquisition and permitting workstreams efficiently from hydroDesk.


            li
              img(src="assets/images/modal-6.png", alt="")
              p All ground truth considerations generate a 20 year power generation profile and a comprehensive Bill of Quantities which are integrated into a financial model. Tweak PPA, Project Finance, EPC assumptions and review IRR, LCOE, NPV, DSCR results.

        +e.slide
          ul
            li
              img(src="assets/images/modal-7.png", alt="")
              p Every simulation you run is compiled into a Feasibility Study clearly stating all results, assumptions and uncertainties for extreme accountability. A punch-list of action items is also provided to move your project to the next level.

        +e.slide
          ul.flex
            li
              img(src="assets/images/modal-8.jpg", alt="")
            li
              img(src="assets/images/modal-9.jpg", alt="")
            li
              img(src="assets/images/modal-10.jpg", alt="")
            li
              img(src="assets/images/modal-11.jpg", alt="")
            li
              img(src="assets/images/modal-12.jpg", alt="")
    +e.footer
      a.btn.btn--ghost.u-color-blue(href="#") ARRANGE A DEMO
      
