#hydro
  height: 50vh;

.hero__hydro-bg
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-image: url('../images/hero--hydro.jpg')
  background-position: center center
  background-repeat: no-repeat
  background-size: cover

.hero__gradient
  position: absolute
  left: 0
  bottom: 0
  width: 100%
  height: 15%
  background: #ffffff

  img
    display: none

.modal
  position: fixed
  top: 62px
  left: 0
  width: 100%
  height: calc(100% - 62px)
  background: #ffffff
  text-align: center
  transform: translateY(-20px)
  transition: all 0.3s ease-in-out
  opacity: 0
  visibility: hidden
  overflow-y: auto
  z-index: 11

  &--visible
    transform: translateY(0)
    opacity: 1
    visibility: visible

  &__close
    position: absolute
    top: 32px
    right: 82px

  &__header
    padding-top: 57px
    font-size: 22px
    color: #626262
    text-align: center

    p
      max-width: 630px
      margin: 42px auto 0

  .inner-hero-title
    color: #585858

    &:after
      background: #626262

  &__content
    position: relative
    padding-top: 96px

  ul
    max-width: 550px
    list-style: none
    padding: 0
    margin: 0 auto
    text-align: left
    color: #626262

    li
      margin-bottom: 42px
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      align-items: flex-start

      p
        margin: 0
        flex: 1

    img
      max-width: 100%
      height: auto
      // display: inline-block
      // vertical-align: middle
      margin-right: 20px

  .flex
    width: 100%
    max-width: 1600px
    padding: 0 20px
    justify-content: space-between

    li
      display: block
      position: relative
      width: calc((100% - 160px) / 5)

      img
        margin: 0
        transition: all 0.3s ease-in-out

  &__footer
    margin-top: 64px

.modal-enlarge
  position: relative
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.18)
  transform: scale(2)
  transition: all 0.3s ease-in-out
  z-index: 11
