.hydro-mobile
  a.modal__close.js-close-modal(href="#")
    svg(width="25" height="25")
      use(xlink:href="#icon-close")

  +e.header
    h1.inner-hero-title hydroDesk
    //p Which Hydro Sites in Sumatera have Minimal E&S Impact and achieve 50% IRR?

  +e.content
    .bx-slider
      +e.slide
        ul
          li
            img(src="assets/images/modal-1.png", alt="")
            p hydroDesk helps project developers loop through every plausible project configuration in a given river system to rank and find optimal projects.

          li
            img(src="assets/images/modal-2.png", alt="")
            p Digital Elevation Model analytics automatically finds river slopes, excavation volumes and inundation areas behind dams.

      +e.slide
        ul
          li
            img(src="assets/images/modal-3.png", alt="")
            p hydroDesk comes complete with public hydrological datasets. Upload proprietary data and calibrate station statistics.


          li
            img(src="assets/images/modal-4.png", alt="")
            p Integrate sub-surface investigation results by creating a geotechnical map on the interface. hydroDesk will take the associated costs and risks into account.

      +e.slide
        ul
          li
            img(src="assets/images/modal-5.png", alt="")
            p Deep-learning algorithms automagically detect forests and communities from satellite imagery. Manage land acquisition and permitting workstreams efficiently.


          li
            img(src="assets/images/modal-6.png", alt="")
            p Fully integrated financial model that includes power generation, Bill of Quantities, PPA, Project Finance, EPC parameters.

      +e.slide
        ul
          li
            img(src="assets/images/modal-7.png", alt="")
            p Every simulation run is compiled into a Feasibility Study clearly stating all assumptions, results and uncertainties for accountability. A punch-list of action items is also provided to move your project to the next level.

      //- +e.slide
      //-   ul.flex
      //-     li
      //-       img(src="assets/images/modal-8.jpg", alt="")
      //-     li
      //-       img(src="assets/images/modal-9.jpg", alt="")
      //-     li
      //-       img(src="assets/images/modal-10.jpg", alt="")
      //-     li
      //-       img(src="assets/images/modal-11.jpg", alt="")
      //-     li
      //-       img(src="assets/images/modal-12.jpg", alt="")
  +e.footer
    a.btn.btn--ghost.u-color-blue.js-show-modal(href="#" data-modal="request-demo") ARRANGE A DEMO
