mixin hero()
  .section
    +b('section').hero
    
      +e.content
        h1 REDEFINE FEASIBILITY
        p Traverse helps infrastructure developers simulate the economic outcome of every possible project configuration.
        
        a.btn.btn--ghost(href="#") REQUEST DEMO
        
      +e.mouse
        svg(width="21" height="26")
          use(xlink:href="#mouse")
