
$base__font-size: 16px

//-- colors:start --//
$blue        : #0077D8

$text-color  : #1D1D1D
$header-color: #3B3B41
$nav-color   : #313131
//-- colors:end --//

//-- typo:start --//
$din-pro-black: 'DINPro-Black'
$din-pro-bold: 'DINPro-Bold'
$din-pro-light: 'DINPro-Light'
$din-pro-medium: 'DINPro-Medium'
$din-pro-regular: 'DINPro-Regular'
$blender-pro-medium: 'Blender Pro'
//-- typo:end --//

html
  box-sizing: border-box
  height: 100%

*,
*:before,
*:after
  box-sizing: inherit

body
  height: 100%
  font-size: rem(18px)
  font-family: $din-pro-regular
  color: $text-color
  background: #ffffff

.wrapper
  min-height: 100%
  margin-bottom: -35px
  padding-top: 65px

  &:after
    display: block
    content: ""
    height: 35px

.clearfix:after
  content: ""
  display: block
  clear: both

.btn
  display: inline-block
  padding: 6px 26px
  background: $blue
  color: #ffffff
  text-transform: uppercase
  font-family: $din-pro-bold
  font-size: rem(14px)
  text-align: center
  text-decoration: none
  border: none
  outline: none
  appearance: none

  &:hover
    background: #0F72C2

  &:active
    background: #08528F

  &--white
    padding: 12px 25px 14px
    font-size: 18px
    background: #ffffff
    color: #000000

    &:hover,
    &:active
      background: #ffffff

.btn--header-search
  width: 127px
  height: 32px
  padding: 0
  position: absolute
  right: 0
  top: 0

  @media screen and (max-width: 940px)
    width: 142px

  @media screen and (max-width: 390px)
    width: 135px

  @media screen and (max-width: 360px)
    width: 100px

.btn--ghost
  padding: 10px 25px 12px
  font-size: rem(18px)
  background: transparent
  border: 2px solid #ffffff

  &:hover,
  &:active
    background: transparent

.btn + .btn
  margin-left: 18px

:disabled, [disabled], [aria-disabled="true"]
  cursor: not-allowed

.svg-sprite
  display: none

.flex
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  align-items: center

.inner-container
  @include outer-container

  @media screen and(max-width: 1180px)
    padding: 0 20px

.inner-section
  min-height: 100vh
  padding: calc(62px + 3vh) 0

  &:nth-child(odd)
    background-color: #FAFAFA

.inner-hero-title
  position: relative
  padding-bottom: 17px
  font-family: $din-pro-medium
  font-size: 38px
  letter-spacing: 1.94px
  text-transform: uppercase

  &:after
    width: 37px
    height: 1px
    position: absolute
    bottom: 0
    left: 50%
    margin-left: -18px
    background: #ffffff
    content: ''

@keyframes mouseAnimation

  25%
    bottom: 93px
  50%
    bottom: 73px
  75%
    bottom: 93px
  100%
    bottom: 83px

.u-table-layout
  display: table

  @media screen and (max-width: 940px)
    display: block

  .feature__img, .feature__content
    float: none !important
    display: table-cell
    vertical-align: middle

    @media screen and (max-width: 940px)
      display: block
      width: 100%
      text-align: center

.u-mobile-hidden
  @media screen and (max-width: 600px)
    display: none !important

.u-mobile-visible
  display: none !important

  @media screen and (max-width: 600px)
    display: block !important
