@font-face
  font-family: 'DINPro-Black'
  src: url('../fonts/DINPro-Black.eot')
  src: url('../fonts/DINPro-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DINPro-Black.woff') format('woff'),
  url('../fonts/DINPro-Black.ttf')  format('truetype'),
  url('../fonts/DINPro-Black.svg#b5903bd095f61bee9157f723f08708b0') format('svg')

  font-style: normal
  font-weight: 400

@font-face
  font-family: 'DINPro-Bold'
  src: url('../fonts/DINPro-Bold.eot')
  src: url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DINPro-Bold.woff') format('woff'),
  url('../fonts/DINPro-Bold.ttf')  format('truetype'),
  url('../fonts/DINPro-Bold.svg#f72eedb964480472218d30fa54520bd8') format('svg')

  font-style:   normal
  font-weight:  700

@font-face
  font-family: 'DINPro-Light'
  src: url('../fonts/DINPro-Light.eot')
  src: url('../fonts/DINPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DINPro-Light.woff') format('woff'),
  url('../fonts/DINPro-Light.ttf')  format('truetype'),
  url('../fonts/DINPro-Light.svg#62f75ccd04c776030ca293d074e92944') format('svg')

  font-style:   normal
  font-weight:  200

@font-face
  font-family: 'DINPro-Medium'
  src: url('../fonts/DINPro-Medium.eot')
  src: url('../fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DINPro-Medium.woff') format('woff'),
  url('../fonts/DINPro-Medium.ttf')  format('truetype'),
  url('../fonts/DINPro-Medium.svg#43a856eecb2199e640a1a5bf1dc4a1e7') format('svg')

  font-style:   normal
  font-weight:  400

@font-face
  font-family: 'DINPro-Regular'
  src: url('../fonts/DINPro-Regular.eot')
  src: url('../fonts/DINPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DINPro-Regular.woff') format('woff'),
  url('../fonts/DINPro-Regular.ttf')  format('truetype'),
  url('../fonts/DINPro-Regular.svg#57984163b7a8df750038d0f2b70383f2') format('svg')

  font-style:   normal
  font-weight:  400

@font-face
  font-family: 'Blender Pro'
  src: url('../fonts/BlenderPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BlenderPro-Medium.woff') format('woff'),
  url('../fonts/BlenderPro-Medium.ttf')  format('truetype'),
  url('../fonts/BlenderPro-Medium.svg#af5f75aced97daffaa9e775e3679e106') format('svg')

  font-style:   normal
  font-weight:  400

h1
  margin: 0
  font-family: $blender-pro-medium
  font-size: 5.5em
  letter-spacing: 3px

  @media screen and (max-width: 940px)
    font-size: 57px

  @media screen and (max-height: 850px)
    font-size: 57px

  @media screen and (max-width: 600px)
    font-size: 47px

.section-header
  position: relative
  margin: 0
  padding-bottom: 16px
  font-family: $blender-pro-medium
  font-size: rem(30px)
  text-align: center
  text-transform: uppercase
  letter-spacing: 1.64px

  &:after
    width: 37px
    height: 1px
    position: absolute
    left: 50%
    margin-left: -16px
    bottom: 0
    background: $blue
    content: ''

  @media screen and (max-width: 940px)
    font-size: 24px

  @media screen and (max-height: 850px)
    font-size: 24px

  span
    @media screen and (max-width: 600px)
      display: none

.section-caption
  margin: 13px auto 0
  padding: 0 20px
  max-width: 560px
  font-size: rem(16px)
  line-height: 1.69
  text-align: center

.card-title
  display: inline-block
  margin: 35px auto 25px
  font-family: $din-pro-medium
  font-size: 18px
  text-transform: uppercase

  &--water
    padding-left: 30px
    background: url('../images/logo-atlantic_water.png') left center no-repeat
