mixin solar()
  +b('section').hero#solar
    +e.solar-bg
    +e.content
      h1.inner-hero-title solar
      p Small decriptive text facts about something that can be used in calculating, reasoning, or planning
      
      a.btn.btn--ghost(href="#") TAKE PART IN BETA
      small Coming soon
